VSPHERE_SERVER: {{ VSPHERE_SERVER }}
VSPHERE_USERNAME: {{ VSPHERE_USERNAME }}
VSPHERE_PASSWORD: {{ VSPHERE_PASSWORD }}
VSPHERE_DATACENTER: {{ VSPHERE_DATACENTER }}
VSPHERE_DATASTORE: {{ VSPHERE_DATASTORE }}
VSPHERE_NETWORK: {{ VSPHERE_NETWORK }}
VSPHERE_RESOURCE_POOL: {{ VSPHERE_RESOURCE_POOL }}
VSPHERE_FOLDER: {{ VSPHERE_FOLDER }}
# VSPHERE_TEMPLATE will be autodetected based on the kubernetes version. Please use VSPHERE_TEMPLATE only to override this behavior
VSPHERE_TEMPLATE: {{ VSPHERE_TEMPLATE }}
VSPHERE_HAPROXY_TEMPLATE: {{ VSPHERE_HAPROXY_TEMPLATE }}
VSPHERE_SSH_AUTHORIZED_KEY: "{{ VSPHERE_SSH_AUTHORIZED_KEY }}"
SERVICE_CIDR: {{ SERVICE_CIDR }}
CLUSTER_CIDR: {{ CLUSTER_CIDR }} 
VSPHERE_WORKER_DISK_GIB: "{{ VSPHERE_WORKER_DISK_GIB }}"
VSPHERE_WORKER_NUM_CPUS: "{{ VSPHERE_WORKER_NUM_CPUS }}"
VSPHERE_WORKER_MEM_MIB: "{{ VSPHERE_WORKER_MEM_MIB }}"
VSPHERE_CONTROL_PLANE_DISK_GIB: "{{ VSPHERE_CONTROL_PLANE_DISK_GIB }}"
VSPHERE_CONTROL_PLANE_NUM_CPUS: "{{ VSPHERE_CONTROL_PLANE_NUM_CPUS }}"
VSPHERE_CONTROL_PLANE_MEM_MIB: "{{ VSPHERE_CONTROL_PLANE_MEM_MIB }}"
VSPHERE_HA_PROXY_DISK_GIB: "{{ VSPHERE_HA_PROXY_DISK_GIB }}"
VSPHERE_HA_PROXY_NUM_CPUS: "{{ VSPHERE_HA_PROXY_NUM_CPUS }}"
VSPHERE_HA_PROXY_MEM_MIB: "{{ VSPHERE_HA_PROXY_MEM_MIB }}"
